*{
   margin: 0;
   padding: 0; 

}

.main{
    width: 100%;
    background: linear-gradient(to top), rgba(165, 42, 42)50%, rgba(165, 42, 42)50%, url(https://media.istockphoto.com/id/1166613720/photo/sunflower-in-full-bloom-with-blue-sky.webp?b=1&s=170667a&w=0&k=20&c=kAbs2YK8la_t5kRip_-tFyDroAw4QsKsMKeit9IGA4o=)




}